.emailBody {
  padding: 30px;
  /*margin-bottom: 20px;*/
}

.compose {
  padding: 20px;
}

.foldersBar {
  background: #ddd;
  padding: 20px;
}

.foldersBar li {
  padding: 0;
}

.newEmail {
  padding: 15px;
}
