<div class="col-xs-12 compose">
  {{#link-to 'newEmail'}}
    <a class="btn btn-primary">Compose Email</a>
  {{/link-to}}
</div>
<div class="foldersBar col-xs-12">
  <div class="row">
    <div class="col-xs-8">
      <ul class="list-inline">
        <lh>Folders</lh>
        <li>
          {{#link-to 'emails'}}
            All emails
          {{/link-to}},
        </li>
        {{#each folder in model}}
          <li>
            {{#link-to 'folder' folder.id}}
              {{folder.name}},
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-xs-4">
      <form class="form-inline">
        {{input type="text" class="form-inline" value=name placeholder="new folder name"}}
        <button class="btn btn-xs btn-success" {{action 'addFolder'}}>Add</button>
      </form>
    </div>
  </div>
</div>
<div class="col-xs-12">
  {{outlet}}
</div>
